@model site.Models.Birim

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/Content/StyleSheet3.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300" rel="stylesheet">

<div class="modal-content">

    <form id="NewOrderForm">
        <div class="modal-body">

            <h5 style="color:royalblue">Birim Detayları</h5>
            <hr />
            <div class="form-horizontal">

                <table id="detailsTable" class="table">

                    <thead>

                        <tr>
                            <th style="width:30%">Birim Kodu</th>
                            <th style="width:20%">Birim Adı</th>


                        </tr>
                        <tr>

                            <td>@Html.DisplayFor(model => model.BirimKodu)</td>

                            <td>@Html.DisplayFor(model => model.BirimAdi)</td>
                        </tr>

                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </form>



</div>
  <p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.Birim_ID }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>