body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.button {
    background-color:black;
    color: black;
    border: 2px solid black;
    padding: 10px 10px;
    display: inline-block;
    margin:auto;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
        background-color:black;
        color:gray;
 }

#menu{
    width: 1024px;
    background-color: #a88484;

}
    #menu li {
        width: 160px;
        height:30px;
        padding-top:10px;
        padding-left:25px;
        padding-right:15px;
        float :left;
        font-size:18px;
    }
        #menu li a{
            color:beige;
        }
            #menu li a:hover{
                color:aliceblue;
                font-size:22px;
            }


#table {
    border-collapse: collapse;
    width: 100%;
}

#th, td {
    text-align: left;
    padding: 8px;
}

#tr:nth-child(even) {
    background-color: #8e5e5e;
}
